
<nav class="navbar navbar-expand-lg navbar-black bg-black">
  <div class="container-fluid" >
    
   <img src="../../../../assets/Logo loja.png" height="200" width="220">
       
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
 <div align="left">
   <div class="collapse navbar-collapse " id="navbarNavDropdown" >
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Carros</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Motos</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Equipamentos</a>
        </li>
       </ul>
     </div>
     </div>
   </div>
 </nav>
 <nav class="navbar navbar-expand-lg navbar-black bg-black"> </nav>

 <div class="card mb-3">
   <img src="../../../assets/NOA.png" class="card-img-top" alt="...">
 
 
   <nav class="navbar navbar-expand-lg navbar-black bg-black">
     
 <div class="row row-cols-1 row-cols-md-2 g-4">
  
   <div class="col">
     <div class="card">
       <img src="https://img.elo7.com.br/product/original/22C15E2/kit-adesivo-kawasaki-ninja-300-verde-rosa-azul-cinza-cores-adesivos-para-motos.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Kawasaki Ninja 300</h5>
         <p class="card-text">R$ 19.990,00</p>
       </div>
     </div>
   </div>
   <div class="col">
     <div class="card">
       <img src="https://img.elo7.com.br/product/original/22BFAA3/kit-adesivo-kawasaki-ninja-300-verde-rosa-azul-vermelho-pret.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">K. Ninja 300</h5>
         <p class="card-text">R$ 19.990,00</p>
       </div>
     </div>
   </div>
   <div class="col">
     <div class="card">
       <img src="https://cdn.motor1.com/images/mgl/4JyZA/s1/lamborghini-aventador-lp-780-4-ultimae.webp" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Lamborghini Aventador LP 780-4</h5>
         <p class="card-text">R$ 500.000,00</p>
       </div>
   </div>
   </div>
   
   <div class="col">
     <div class="card">
       <img src="https://cdn.motor1.com/images/mgl/KPLnl/s1/lamborghini-aventador-lp-780-4-ultimae.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Lamborghini Aventador LP </h5>
         <p class="card-text">R$ 570.000,00 </p>
       </div>
     </div>
   </div>
 </div>

  
</nav>
