
<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">2022 NOA MOTORS & VEICULOS</p>
      </div>
  
      <div class="col">
  
      </div>
  
      
      <div class="col" class="text-center">
        <h5>NOA Melhor S2 </h5>
        <nav class="navbar navbar-expand-lg navbar-black bg-black"></nav>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contato: 40028922</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> Whatssap: (15)997315599 </a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> Endereço: Só Deus sabe</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> Facebook: NOA Fornecedora</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> Instagram: @NOAveiculos</a></li>
        </ul>
      </div>
    </footer>

  </div>
  
